* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #CFB893;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.brand-subtitle {
    font-size: 14px;
    font-weight: normal;
    color: #666;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.banner {
    background-image: url('img/img1.jpeg');
    background-size: cover;
    background-position: center;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.banner-text h1 {
    font-size: 48px;
}

.banner-text p {
    font-size: 20px;
}

.fashion-section {
    padding: 50px 50px;
    margin-top: 10px;
}

h2 {
    margin-bottom: 20px;
}

.fashion-grid {
    display: flex;
    gap: 150px;
    margin-left: 50px;

}

.fashion-grid img {
    width: 100%;
    height: 400px;
    max-width: 300px;
    border-radius: 10px;
    justify-content: center;
}

.explore-section {
    background-color: #d1b38e; /* Sesuaikan dengan warna latar belakang */
    padding: 100px 300px;
    text-align: center;
}

.explore-section h2 {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold;
}

.explore-section p {
    font-size: 16px;
    line-height: 1.8; /* Menambah spasi antar baris */
    max-width: 800px;
    margin: 0 auto; /* Untuk memusatkan teks */
    text-align: justify;
}


footer {
    background-color: #2F2E2C;
    color: white;
    padding: 40px 20px;
    line-height: 1.8; /* Menambah spasi antar baris */
    .brand-subtitle {
        line-height: 0;
        font-size: 14px;
        font-weight: normal;
        color: #ffff;
    }
}



.footer-content {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.footer-section {
    width: 25%;
    flex: 1;
}

.footer-section h3 {
    margin-bottom: 20px;
    line-height: 0;
}

.footer-section ul {
    list-style-type: none;
}

.footer-section ul li a {
    text-decoration: none;
    color: white;
    display: block;
    margin-bottom: 10px;
}

